
body{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background-color: #D8D5DB;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.container{
    text-align: center;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

#display{
    font-size: 48px;
    margin: 20px 0;
}

.buttons button{
    font-size: 18px;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: blue;
    color: #fff;
}

.buttons button:hover{
    background-color: aqua;
}

